.cabecalho {
    background-color: #b60000;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.cabecalho-imagem {
    width: 18%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    padding: 10px 0;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}
.fundo {
    background-color: #ff0000;
}
.escola-imagem{
    width: 25%;
}